@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

:root {
    --progress: #0751cf; /* yellow-400 in light theme */
}

.dark {
    --progress: #fd366e; /* red-500 in dark theme */
}

#nprogress .bar {
    background: var(--progress) !important;
    height: 3px;
}

#nprogress .peg {
    box-shadow:
        0 0 10px var(--progress),
        0 0 5px var(--progress) !important;
}

#nprogress .spinner-icon {
    border-top-color: var(--progress) !important;
    border-left-color: var(--progress) !important;
}
